.main {
    height: 500px;
    width: 500px;
    font-size: 15px;
    text-align: center;
}
.menu {
    color: dodger blue;
}
.sensor {
    color: black;
    width: 100px;
    height: 50px;
    margin: 10px;
}

